/uploads
/upgrade
/languages
/mu-plugins
/themes/*
!/themes/astra-child

!/plugins
/plugins/*
!/plugins/my-custom-block
/plugins/my-custom-block/*
!/plugins/my-custom-block/scripts
!/plugins/my-custom-block/src

.DS_Store